<ul class="icons">
    <li><a href="#" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
    <li><a href="https://vk.me/netmexa" class="icon brands fa-vk" target="_blank"><span class="label">Vk</span></a></li>

    <li><a href="https://wa.me/79138062300" class="icon brands fa-whatsapp"target="_blank"><span class="label">WhatsApp</span></a></li>
    <li><a href="https://t.me/Inna_evseeva" class="icon brands fa-telegram"target="_blank"><span class="label">Telegram</span></a></li>
    <li><a href="#" class="icon solid fa-envelope"target="_blank"><span class="label">Email</span></a></li>
</ul>

