<ul class="icons">
    <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
    <li><a href="#" class="icon brands fa-vk"><span class="label">Vk</span></a></li>
    <li><a href="#" class="icon brands fa-whatsapp"><span class="label">WhatsApp</span></a></li>
    <li><a href="#" class="icon brands fa-telegram"><span class="label">Telegram</span></a></li>
    <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
</ul>