<header>
    <h2>Обо мне</h2>
</header>
<div class="row" style="max-height: 70vh;">
    <div class="col">
        <p>
        <a href="#" class="image featured"><img src="/images/Для постов/3.png" alt="" style="width: 100%" /></a>
        </p>
    </div>
    <div class="col text-start">
            Привет, друзья! 🌞 <br/>

        Меня зовут Инна, и я - профессиональный мастер по депиляции. <br />
        Моя миссия - помочь каждому человеку почувствовать себя уверенно и комфортно в своём теле. ✨<br />

        Почему я решила заняться депиляцией? Это было решение, основанное на личном опыте. Я всегда чувствовала себя несколько неудобно из-за нежелательных волос на теле. Когда я попробовала депиляцию в первый раз, я поняла, что это - мое призвание. 💪<br />

        Обучение прошло быстро и легко. Были моменты, которые были трудными, но я нашла поддержку в своих наставниках и коллегах. Теперь, когда я вижу результаты своей работы, я не могу не улыбаться! 😊<br />

        Мои первые клиенты были знакомыми, и я очень благодарна им за поддержку и доверие. Благодаря этому опыту я стала еще более уверенной в своих способностях и желании помогать людям. 💖<br />

        Я решила назвать свой салон Меха и Кожа, чтобы напомнить людям, что настоящая красота не в мехах, а в гладкой и ухоженной коже. 😁<br />

            Записывайтесь на процедуру депиляции по очень приятным ценам! Я обещаю, что вы не пожалеете о своём выборе. Я работаю с самым качественным оборудованием и материалами, и гарантирую полную конфиденциальность и комфорт во время процедуры. 😌
    </div>
</div>
