<div id="main">

    <!-- Intro -->

    <section id="top" class="TopBlock" style="background-image: url('/images/Для постов/ВК обложка группы 3.png'); background-position: left;  background-size: cover;  width: 100%; height:30vw; ">

        <div class="container">
        </div>

    </section>


    <!-- Обо мне -->
    <section id="about" class="three">
        <div class="container">

            @await Html.PartialAsync("AboutPartial")

        </div>
    </section>
    
    <!-- Мой кабинет -->
    <section id="salon" class="three">
        <div class="container">

            @await Html.PartialAsync("MySalon")

        </div>
    </section>

    <!-- Отзывы -->
    <section id="review" class="three">
        <div class="container">

            @await Html.PartialAsync("ReviewsPartial")

        </div>
    </section>
    

    <!-- Мои работы -->
    <section id="portfolio" class="two">
        <div class="container">

            @await Html.PartialAsync("PortfolioPartial")

        </div>
    </section>

    <!-- Контакты -->
    <section id="contact" class="four">
        <div class="container">

            @await Html.PartialAsync("ContactsPartial")

        </div>
    </section>

</div>