<header>
    <h2>Мой кабинет</h2>
</header>

<p>
Здесь Вы можете познакомиться с фотографиями моего уютного кабинете, в котором Вам всегда будут рады и в котором Вы будете чувствовать себя спокойно и комфортно :)
</p>

<div class="row">
    <div class="col-4 col-12-mobile">
        <article class="item">
            <a href="#" class="image fit"><img src="/images/Для постов/3.png" alt="" /></a>
            <header>
                <h3>Первая фотка</h3>
            </header>
        </article>
        <article class="item">
            <a href="#" class="image fit"><img src="/images/Для постов/4.png" alt="" /></a>
            <header>
                <h3>Вторая фотка</h3>
            </header>
        </article>
    </div>
    <div class="col-4 col-12-mobile">
        <article class="item">
            <a href="#" class="image fit"><img src="/images/Для постов/5.png" alt="" /></a>
            <header>
                <h3>Третья фотка</h3>
            </header>
        </article>
        <article class="item">
            <a href="#" class="image fit"><img src="/images/Для постов/6.png" alt="" /></a>
            <header>
                <h3>Четвертая фотка</h3>
            </header>
        </article>
    </div>
    <div class="col-4 col-12-mobile">
        <article class="item">
            <a href="#" class="image fit"><img src="/images/Для постов/7.png" alt="" /></a>
            <header>
                <h3>Пятая фотка</h3>
            </header>
        </article>
        
        <article class="item">
            <a href="#" class="image fit"><img src="/images/Для постов/8.png" alt="" /></a>
            <header>
                <h3>Шестая фотка</h3>
            </header>
        </article>

    </div>
</div>