<header>
    <h2>Прайс-лист на услуги</h2>
</header>

<p>
    Чтобы узнать цену - не нужно писать в личку. Все цены выкладываю открыто 👇
</p>

<div class="row">

    <div class="col-3 col-12-mobile">

        <article class="item price">
            <div class="image-wrapper">
                <img src="/images/Услуги/БИКИНИ/1.png" alt=""/>
            </div>
            <div class="caption">
                <div class="PriceTitle">Первая услуга</div>
            </div>
        </article>


        <article class="item price">
            <div class="image-wrapper">
                <img src="/images/Услуги/БИКИНИ/5.png" alt=""/>
            </div>
            <div class="caption">
                <div class="PriceTitle">Пятая услуга</div>
            </div>
        </article>

        <article class="item price">
            <div class="image-wrapper">
                <img src="/images/Услуги/БИКИНИ/9.png" alt=""/>
            </div>
            <div class="caption">
                <div class="PriceTitle">Девятая услуга</div>
            </div>
        </article>

        <article class="item price">
            <div class="image-wrapper">
                <img src="/images/Услуги/БИКИНИ/13.png" alt=""/>
            </div>
            <div class="caption">
                <div class="PriceTitle">Тринадцатая услуга</div>
            </div>
        </article>

    </div>

    <div class="col-3 col-12-mobile">
        <article class="item price">
            <div class="image-wrapper">
                <img src="/images/Услуги/БИКИНИ/2.png" alt="" />
            </div>
            <div class="caption">
                <div class="PriceTitle">Вторая услуга</div>
            </div>
        </article>

        <article class="item price">
            <div class="image-wrapper">
                <img src="/images/Услуги/БИКИНИ/6.png" alt="" />
            </div>
            <div class="caption">
                <div class="PriceTitle">Шестая услуга</div>
            </div>
        </article>

        <article class="item price">
            <div class="image-wrapper">
                <img src="/images/Услуги/БИКИНИ/10.png" alt="" />
            </div>
            <div class="caption">
                <div class="PriceTitle">Десятая услуга</div>
            </div>
        </article>

        <article class="item price">
            <div class="image-wrapper">
                <img src="/images/Услуги/БИКИНИ/14.png" alt="" />
            </div>
            <div class="caption">
                <div class="PriceTitle">Четырнадцатая услуга</div>
            </div>
        </article>
    </div>

    <div class="col-3 col-12-mobile">
        <article class="item price">
            <div class="image-wrapper">
                <img src="/images/Услуги/БИКИНИ/3.png" alt="" />
            </div>
            <div class="caption">
                <div class="PriceTitle">Третья услуга</div>
            </div>
        </article>

        <article class="item price">
            <div class="image-wrapper">
                <img src="/images/Услуги/БИКИНИ/7.png" alt="" />
            </div>
            <div class="caption">
                <div class="PriceTitle">Седьмая услуга</div>
            </div>
        </article>

        <article class="item price">
            <div class="image-wrapper">
                <img src="/images/Услуги/БИКИНИ/11.png" alt="" />
            </div>
            <div class="caption">
                <div class="PriceTitle">Одиннадцатая услуга</div>
            </div>
        </article>

        <article class="item price">
            <div class="image-wrapper">
                <img src="/images/Услуги/БИКИНИ/живот.png" alt="" />
            </div>
            <div class="caption">
                <div class="PriceTitle">Пятнадцатаяя услуга</div>
            </div>
        </article>
    </div>

    <div class="col-3 col-12-mobile">
        <article class="item price">
            <div class="image-wrapper">
                <img src="/images/Услуги/БИКИНИ/4.png" alt="" />
            </div>
            <div class="caption">
                <div class="PriceTitle">Четвертая услуга</div>
            </div>
        </article>

        <article class="item price">
            <div class="image-wrapper">
                <img src="/images/Услуги/БИКИНИ/8.png" alt="" />
            </div>
            <div class="caption">
                <div class="PriceTitle">Восьмая услуга</div>
            </div>
        </article>

        <article class="item price">
            <div class="image-wrapper">
                <img src="/images/Услуги/БИКИНИ/12.png" alt="" />
            </div>
            <div class="caption">
                <div class="PriceTitle">Двенадцатая услуга</div>
            </div>
        </article>

        <article class="item price">
            <div class="image-wrapper">
                <img src="/images/Услуги/БИКИНИ/дорожка.png" alt="" />
            </div>
            <div class="caption">
                <div class="PriceTitle">Шестнадцатая услуга</div>
            </div>
        </article>
    </div>

</div>

<style>
    .price {
        width: 12vw;
        height: 12vw;
        position: relative;
    }

    .image-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

        .image-wrapper img {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
        }

    .caption {
        position: relative;
        bottom: calc(0.2vw);
        width: 100%;
        background-color: #f2f2f2;
        text-align: center;
        padding: calc(1px + 0.25vw);
        font-weight: bold;
        font-family: "Raleway";
        border-radius: 0 0 5px 5px;

    }

        .caption h3 {
            margin: 0;
            font-size: 16px;
        }

        .caption p {
            margin: 0;
            font-size: 14px;
        }

    .PriceTitle {
        font-size: calc(6px + 0.5vw);
    }

</style>