<header>
    <h2>Отзывы о моей работе</h2>
</header>

<p>
    Здесь Вы можете познакомиться отзывами, которые оставляют мои клиенты. Буду рада, если и Вы пополните своим отзывом этот раздел :) 
    (можете написать мне в личное сообщение или на стену Вконтакте)
</p>

<div class="row">
    <div class="col-4 col-12-mobile">
        <article class="item">
            <a href="#" class="image fit"><img src="/images/Услуги/глубокое_бикини.png" alt="" /></a>
            <header>
                <h3>Первая фотка</h3>
            </header>
        </article>
        <article class="item">
            <a href="#" class="image fit"><img src="/images/Услуги/бикини.png" alt="" /></a>
            <header>
                <h3>Вторая фотка</h3>
            </header>
        </article>
    </div>
    <div class="col-4 col-12-mobile">
        <article class="item">
            <a href="#" class="image fit"><img src="/images/Услуги/верхняя_губа-.png" alt="" /></a>
            <header>
                <h3>Третья фотка</h3>
            </header>
        </article>
        <article class="item">
            <a href="#" class="image fit"><img src="/images/Услуги/живот.png" alt="" /></a>
            <header>
                <h3>Четвертая фотка</h3>
            </header>
        </article>
    </div>
    <div class="col-4 col-12-mobile">
        <article class="item">
            <a href="#" class="image fit"><img src="/images/Услуги/дорожка.png" alt="" /></a>
            <header>
                <h3>Пятая фотка</h3>
            </header>
        </article>
        
        <article class="item">
            <a href="#" class="image fit"><img src="/images/Услуги/поясница.png" alt="" /></a>
            <header>
                <h3>Шестая фотка</h3>
            </header>
        </article>

    </div>
</div>